<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        <% if (typeof myErr !== 'undefined'){ %>
            alert("<%=myErr%>")
        <% } %>
    });
</script>
</body>
</html>